{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistem Pendukung Keputusan Pemilihan Ekskul</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>
<body>
<!-- Background video -->
<video class="background-video" autoplay loop muted>
  <source src="{% static 'video/cyber.mp4' %}" type="video/mp4">
</video>

<!-- Content container -->
<div class="container">
  <h1>Decision Support System for Selection of Extracurricular Activities</h1>
  <p id="title">Sistem Pendukung Keputusan Pemilihan Kegiatan Ekskul</p>
  <div class="form-container">
    <h3>Authentication</h3>
    <form action="{% url 'sigin_form' %}" method="post" autocomplete="off">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" required autocomplete="off">
      <input type="password" name="password" placeholder="Password" required autocomplete="new-password">
      <button type="submit">Login</button>
    </form>
  </div>
</div>

</body>
</html>
